<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- creating menu and sub-menu -->
    <menuitem
            id="menu_visitor_root"
            name="Visitors"
            sequence="0"
    />

    <!-- sous menu -->
    <menuitem
            id="menu_visitor"
            name="Visitors"
            parent="menu_visitor_root"
            action="action_visitor"
            sequence="0"/>

    <menuitem
            id="menu_cameras"
            name="Cameras"
            parent="menu_visitor_root"
            action="action_camera"
            sequence="100"/>

</odoo>